# Ignorar o diretório do ambiente virtual
chatbot_env/

# Ignorar o diretório do banco de dados vetorial ChromaDB (que agora estará na raiz)
chroma_db/

# Ignorar a pasta de cache do Python
__pycache__/

# Ignorar quaisquer arquivos de log ou temporários
*.log
*.tmp
.env